.liste {
    border: 1px solid #102645; 
    color:#102645;
    width: 95%;
}

.liste td{
    border:1px solid #102645;
    color:#102645; 
    height: 15px; 
    text-align: center;
} 

.liste th {
    background-color:#fab600;
    color:white;
    border: 1px solid #102645; 
}

.menu {
  background-color: #596673;
  border: none;
  color: white;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  font-family: "Times New Roman", Times, serif;
}

.nom{
    text-align: center;
}

.box {
    display: inline-block;
}

.compteARebours {
    display: inline-block;
    width: 10%;
}

h1 {
    margin: 0 0 10px;
    font-size: 26px;
    font-weight: bold;
    color:#102645;
    position: relative;
    left: 2%;
}

h2 {
    margin: 0 0 10%;
    text-align: center;
    position: relative;
    font-weight: bold;
    color:#102645;
    top: 0%;
    left: 0%;
}

.titre {
  background-color: #102645;
  border: none;
  color:#fab600;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  font-family: "Times New Roman", Times, serif;
}

header {
    color: white;
    position: relative;
    height: 120px;
    background-color: #708090;
}

.body {
    position: absolute;
    top: 20%;
    left: 2%;
    height: 90%;
    width: 100%;
}

#haut {
    position: absolute;
    top: 2%;
    left: 2%;
}

#droite {
    position: absolute;
    top: 20%;
    right: 20%;
}

#gauche {
    position: relative;
    width: 40%; 
    height: 60%;
    top: 20%;
    left: 1%;
    border-style: groove;
    border-color: #fab600;
    border-radius: 5px;
    padding: 1%;
}

#centre {
    position: relative; 
    height: 60%;
    width: 50%;
    right: 2%;
    top: 20%;
    border-style: groove;
    border-color: #fab600;
    border-radius: 5px;
    padding: 1%;
}

/*#droite {
    position: relative; 
    height: 60%;
    width: 50%;
    right: -2%;
    top: 20%;
    border-style: groove;
    border-color: #fab600;
    border-radius: 5px;
    padding: 1%;
}*/

#total {
    position: fixed;
    width: 95%; 
    height: 60%;
    left: 1%;
    top: 20%;
    border-style: groove;
    border-color: #fab600;
    border-radius: 5px;
    padding: 1%;
}

#noir {
    background-color: #102645;
    color: white;
    width: 100%;
}

label {
    display: inline;
    font: 1rem 'Fira Sans', sans-serif;
}

input, label {
    margin: .4rem 0;
}

select{
    width: 100%;
}

nav {
    width: 25%;
    margin: 0 auto;
    position: absolute;
    top: 25%;
    right: 3%;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    float: left;
    width: 100%;
    position: relative;
}

nav ul::after {
    content: "";
    display: table;
    clear: both;
}

nav a {
    display: block;
    text-decoration: none;
    color: white;
    border-bottom: 2px solid transparent;
}

nav a:hover {
    color: #fab600;
    border-bottom: 2px solid #fab600;
}

nav input:hover {
    color: #fab600;
    border-bottom: 2px solid #fab600;
}

.deroulant > a::after {
    content: " ▼";
    font-size: 12px;
}

.deroulant > input::after {
    content: " ▼";
    font-size: 12px;
}

.sous {
    display: none;
    background-color: #596673;
    position: absolute;
    width: 85%;
    z-index: 1000;
}

.sous li{
    float: none;
    width: 100%;
}

.sous a {
    padding: 10px;
    border-bottom: none;
    text-align: left;
}

.sous input {
    padding: 10px;
    border-bottom: none;
    text-align: left;
}

.sous a:hover {
    border-bottom: none;
    background-color: rgba(200,200,200,0.1);
}

.sous input:hover {
    border-bottom: none;
    background-color: rgba(200,200,200,0.1);
}

nav > ul li:hover .sous{
    display: block;
}